HOST=0.0.0.0
PORT=3000
CORS_ORIGIN=*

BREVO_API_KEY=
BREVO_TEMPLATE_ID=
BREVO_SENDER_EMAIL=
BREVO_RECEIVER_EMAIL=
BREVO_GARDEN_RECIPIENT_EMAIL=schiling2000@gmail.com

ORS_API_KEY=
GEOAPIFY_API_KEY=
COMPANY_LAT=51.56523808298011
COMPANY_LON=6.779844555473214
